<% layout("/layouts/boilerplate.ejs") %>

<style>
  #filters{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
  }
  .filter{
    margin-top: 2rem;
    text-align: center;
    opacity: 0.7;
  }
  .filter:hover{
    opacity: 1;
    cursor: pointer;
  }
  .filter p{
    font-size: 0.8rem;
  }

  .tax-info{
display: none;
  }
  
  .tax-toggle{
    border: 1px solid grey;
    border-radius: 1rem;
    height:3.25rem;
    padding: 1rem;
    margin-left: 3.5rem;
    display:flex;
    align-items: center;
  }
</style>

<div id="filters" >

  <div class="filter">
    <div><i class="fa-solid fa-fire"></i></div>
    <p>Trending</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-bed"></i></div>
    <p>Room</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-mountain-city"></i></div>
    <p>Iconic cities</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-mountain"></i></div>
    <p>Mountain</p>
  </div>

  <div class="filter">
    <div><i class="fa-brands fa-fort-awesome"></i></div>
    <p>Castles</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-person-swimming"></i></div>
    <p>Amazing Pools</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-campground"></i></div>
    <p>Camping</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-tractor"></i></div>
    <p>Farms</p>
  </div>

  <div class="filter">
    <div><i class="fa-regular fa-snowflake"></i></div>
    <p>Arctic</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-igloo"></i></div>
    <p>Domes</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-ship"></i></div>
    <p>Boats</p>
  </div>

  <div class="tax-toggle">
    <div class="form-check-reverse form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" >
      <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
    </div>
  </div>

</div>
    <div class="row row-col-lg-4 row-col-md-3 row-col-sm-1 row-col-1 mt-3">

      <% for(let listing of allListings){ %>
        
          <div class="card listing-card  home-card" style="width:20rem;">
              <img 
              src="<%= listing.image.url %>" class="card-img-top" alt="loading" style="height:20rem;" >
              
              <div class="card-body">
                <h5 class="card-title"><b><%= listing.title %></b></h5>
                <p class="card-text"> &#8377; <%= listing.price.toLocaleString("en-IN") %>/night
                <i class="tax-info">&nbsp; &nbsp; +18% GSt</i></p>
                <a href="/listings/<%= listing._id %>" class="btn btn-primary">See in Detail</a>
              </div>
          </div>

      <% } %>
    </div>

  <script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click", ()=>{
      let taxInfo = document.getElementsByClassName("tax-info");
      for(info of taxInfo){
        if(info.style.display != "inline"){
          info.style.display = "inline";
        }else{
          info.style.display = "none";
        }
      }
    })
  </script>