<% layout("/layouts/boilerplate.ejs") %>


    <div class="row mt-3">
        <div class="col-8 offset-2 mb-3">

            <h1>Create a New Listing</h1>
            <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">

                <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <!-- here to use the direct code mentioned in app.js we have to replace the name="title" into name="listing[title]"; -->
                        <input  id="title" name="listing[title]"  type="text" class="form-control" required>
                        <div class="valid-feedback">Title Looks Good !</div>
                        <div class="invalid-feedback">Title should be metioned !</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description" name="listing[description]"  class="form-control" required></textarea >
                    <div class="valid-feedback">Looks Good</div>
                    <div class="invalid-feedback">This should be metioned</div>
                </div>
                    
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                    <input id="image" name="listing[image]"  type="file" class="form-control">
                    <div class="valid-feedback">Looks Good</div>
                    <div class="invalid-feedback">This should be metioned</div>
                </div>
                    
                
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input id="price" name="listing[price]" type="number"  class="form-control" required>
                    <div class="valid-feedback">Looks Good</div>
                    <div class="invalid-feedback">This should be metioned</div>
                </div>
                
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input id="location" name="listing[location]"  type="text" class="form-control" required>
                    <div class="valid-feedback">Looks Good</div>
                    <div class="invalid-feedback">This should be metioned</div>
                </div>
                
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input id="country" name="listing[country]" type="text" class="form-control" required>
                    <div class="valid-feedback">Looks Good</div>
                    <div class="invalid-feedback">This should be metioned</div>
                </div>
            
                
                <button class="btn btn-dark add-btn">Add</button>

            </form>
         </div>
    </div>

